name: Java CI with Maven 1st CI

on:
  push:
    branches: [ "main", "master","addfeature", "dev" ]
  pull_request:
    branches: [ "main"]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and Test
        run: mvn clean test
